<h1>Upload Auction CSV file</h1>
<%= form_for :auction_new, url: '/auction_new/bulkload', html: { multipart: true } do |form| %>
  <%= form.file_field :csv_file %>
  <%= submit_tag "Upload" %>
<% end %>